<div class="navbar bg-base-100 absolute inset-x-0 top-0">
  <div class="navbar-start pr-10">
    <div class="dropdown">
      <div
        tabindex="0"
        role="button"
        class="btn btn-ghost lg:hidden"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a>Item 1</a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a
      href="/about"
      class="btn btn-ghost text-xl"
      >The Portal</a
    >
  </div>
  <div class="navbar-center hidden invisible md:flex md:visible">
    <div>
      <ul
        tabindex="0"
        class="menu-horizontal pr-10"
      >
        <li>
          <a
            href="/"
            class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/blog"
            class="inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500"
            aria-current="page"
            >Blog</a
          >
        </li>
        <li>
          <a
            href="/stock"
            class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            >Stock</a
          >
        </li>
        <li>
          <a
            href="/about"
            class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            >About</a
          >
        </li>
        <li>
          <a
            href="#"
            class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            >Contacts</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-end invisible md:visible">
    <div class="form-control">
      <input
        type="text"
        placeholder="Search"
        class="input input-bordered h-10 border-slate-800 bg-gray-950"
      />
    </div>
  </div>
</div>
