{% extends '../base/index.html' %} {% block content %}



<article class="card lg:card-side p-4 prose"> 

  <img src="https://fatdomaindev.cyou/static/{{ post.upload }}" class="rounded-xl object-top h-96 min-h-96 min-w-120 w-120" alt="Shoes" />

 <div class="border-l-2 pl-10 min-w-96">
    <div class=" ">
      <a
        class="text-slate-500 font-bold "
        href="#"
        >{{ post.author.nick_name }}</a
      ><br  />
      <small class="text-muted font-semibold">{{ post.published_on|date:"F d, Y" }}</small>
    </div>
    <h2 class="card-title mb-5 mt-5 text-4xl">
        {{ post.title }}
    </h2>
    <p class="w-full">{{post.body }}</p>
    <a href="{% url 'post_detail' post.slug  %}" class="">Back &rarr;</a>
  </div>
</article>

{% endblock content %}