{% load static %}
<!DOCTYPE html>
<html data-theme='dim'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/pico.min.css' %}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed/rss">

  <script src="{% static 'js/htmx.min.js' %}" defer></script>


  {% if title %}
  <title>The Portal - {{ title }}</title>
  {% else %}
  <title>The Portal</title>
  {% endif %}
</head>

<body>
  <main class="container w-[1200px] mx-auto">
  <header>
    {% include 'partials/nav.html' %}
  </header> 
      <div class="container mx-auto pt-10">
      {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>